.about-us{
    padding: 200px 0;
}

.about-us__container{
    
}

.about-us__subtext{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
}

.about-us__heading{
    text-align: start;
    margin-top: 43px;
    font-size: 82px;
    max-width: 889px;
}

.about-us__footer{
    display: flex;
    justify-content: flex-end;
    gap: 9.27rem;
    margin-top: 93px;
}

.about-us__image{
    flex: 33.2% 1 0;
    width: 100%;
    max-width: 539px;
}

.about-us__image img{
   max-width: 100%;
}

.about-us__content{
    flex: 38.2% 1 0;
    max-width: 620px;
}

.about-us__text{
    font-size: 18px;  
    font-weight: 500;
    letter-spacing: 1.242px;
}

.about-us__button{
    margin-top: 40px;
}