.benefits__item.swiper-slide {
    flex-shrink: 1;
}

@media (max-width: 992px) {
    .benefits__subheading {
        padding: 6px 11px;
        font-size: 25px;
    }

    .benefits__items {
        gap: 0;
    }

    .benefits__item.swiper-slide {
        flex-shrink: 0;
    }

    .benefits .swiper-pagination-bullet {
        border-radius: 16px;
        width: 20px;
        height: 4px;
        background: #030317;
        transition: all 0.5s ease;
    }
    .benefits .swiper-pagination-bullet-active {
        width: 40px;
        background: #030317;
    }
}
@media (max-width: 768px) {
    .benefits__subheading {
        padding: 6px 11px;
        font-size: 18px;
    }

    .benefits__effect {
        font-size: 14px;
        color: #373737;
    }

    .benefits__description {
        font-size: 18px;
    }
}
