.benefits {
    padding: 100px 0;
}

.benefits__container {
}

.benefits__heading {
    margin-top: 84.8px;
}

.benefits__heading img {
    position: relative;
    /* right: 19.17rem;
    bottom: 3.47rem; */
    width: 100%;
}

.benefits__subheading {
    font-size: 64px;
    letter-spacing: -0.704px;
    font-family: 'Coolvetica';
    padding: 7.78px 38.88px;
    color: white;
    background-color: var(--pink-main);
    width: fit-content;
    margin-top: -3%;
}

.benefits__items {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 80px;
}

.benefits__item {
    width: 100%;
    background-color: white;
    padding: 42px 42px 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits__effect {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.36px;
    font-weight: 500;
}

.benefits__image {
    margin: 41px 0 38px;
    max-height: 406px;
    /* height: 100%; */
    height: 90%;

    overflow: hidden;
}
.benefits__image img {
    max-width: 100%;
    min-height: 100%;
    object-fit: contain;
}

.benefits__description {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.858px;
}
