@media (max-width: 768px) {
    .refresh__bg {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: #398bbb;
    }
    .refresh__container {
        padding: 0 16px;
        min-height: 720px;
    }
    .refresh__bg img {
        width: auto;
        /* height: 100%; */
        min-width: auto;
        min-height: auto;
        max-width: 200%;
        /* max-width: 100%; */
    }

    .refresh__flower {
        bottom: auto;
        left: -100px;
        top: -80px;
        width: 260px;
    }

    .refresh__smile {
        max-width: 210px;
        bottom: 28px;
        right: -78px;
    }

    .refresh__subtext {
        text-align: center;
        font-size: 14px;
        padding-top: 100px;
        margin-bottom: 23px;
        margin-left: 0;
    }

    .refresh__subheading {
        font-size: 42px;
        font-weight: 400;
        font-size: 42px;
        line-height: 98%;
        margin-bottom: 40px;
    }

    .refresh__heading {
        font-size: 149px;
        font-weight: 900;
        font-size: 149px;
        letter-spacing: -0.01em;
        line-height: 74%;
        margin-top: 0;
    }

    .refresh__cloud {
        width: calc(100% - 20px);
        bottom: 9%;
        z-index: 3;
        /* max-width: 350px; */
        /* bottom: clamp(60px, 8vw, 180px); */
    }

    .refresh__batterfly-1 {
        max-width: 90px;
        left: 30px;
        top: 55%;
        transform: translateY(100%) rotate(103.35deg);
        z-index: 2;
    }
    .refresh__batterfly-2 {
        display: none;
    }
}
